# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__
app/*/__pycache__
app/*/*/__pycache__
app/*/*/*/__pycache__
.env/
.venv/
venv/

# Database
.env

# 로그 파일
*.log

# 임시 파일
*.tmp
*.swp
*.swo

# 기타 불필요한 파일
*.csv
*.json
*.yaml
*.yml
!docker-compose.yml